<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %} | Cibermania</title>
    {% block stylesheet %}
        <link rel="stylesheet" href="{{ asset('bundles/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/css/front.css') }}" />
        {% block css %}{% endblock %}
    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body id="{% block id '' %}">
<div class="container-fuid">
    {% block sidebar %}{% endblock %}
    {% block body %}{% endblock %}

</div>
{% block footer %}{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/js/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/js/tether.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/js/font-awsome.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/js/front.js') }}"></script>
    <!--script src="//cdn.ckeditor.com/4.7.1/basic/ckeditor.js"></script-->
    {% block js %}{% endblock %}
{% endblock %}
</body>
</html>

