{% extends 'front/frontend.html.twig' %}
{% block section %}
   <section>
       <div class="col-12">
           <div class="row">
                {% if my_list is iterable %}
                    <a href="{{ path('create_post') }}">Crear Post</a>
                    {% for item in my_list %}
                               <div class="col-sm-12 col-md-2">
                                   <img class="img-thumbnail" src="{{ asset(item.imgPost,'post') }}">
                               </div>
                               <div class="col-sm-12 col-md-10">
                                   <a href="{{ path('view_post', { slug: item.slug }) }}"> <h3>{{ item.title }}</h3></a>
                                   {{ item.shortContent }}
                               </div>
                           {% endfor %}
                {% else %}
                    <div class="col-12">
                        <p>No se encontró ningun post escrito por ti, pero no te desanimes has <a href="{{ path('create_post') }}">Clic Aquí</a> y escribe tu primera entrada</p>
                    </div>
                {% endif %}
           </div>
       </div>
   </section>
{% endblock %}