{% extends 'front/frontend.html.twig' %}
{% block section %}
    <section>
        <div class="container">
 			<div class="col-12" id="contact">
 				{{ form_start(form) }}
                    <div class="form-group">
                        {{ form_widget(form.message) }}
                    </div>
                <div class="form-group">
                    {{ form_widget(form.name) }}
                    {{ form_widget(form.email) }}
                </div>
				{{ form_end(form) }}
				{% if sent is defined %}
				    <p class="text-center">{{ sent }}</p>
				{% endif %}
 			</div>
        </div>
    </section>
{% endblock %}
