{% extends 'front/frontend.html.twig' %}

{% block section %}
    <section class=" mb-md-3" id="featured-section">
        <div class="row">
        		<div class="container">

					<div class="col-12">
						<span class="time-today">{{ "now"|date("d/m/Y", "Europe/Paris") }}</span>
						<nav class="nav-home">
							<ul>
								{% if app.user.person is defined %}
								<li>Conectado como: {{ app.user.person.name|capitalize }}</li>
								{% else %}
								<li class="login-in" data-close="1">Acceso</li>
								<li><a href="{{ path('create_account') }}">¿No tienes cuenta?</a></li>
								{% endif %}
							</ul>
							<div class="sign-in">
								{{ render(controller('AppBundle:Security:boxLogin')) }}
							</div>
						</nav>
					</div>
        		</div>
                {#{% for featured in featureds %}

                    <div class="col-md-4 featured-item">
                        <img class="d-block img-fluid" src="{{ asset(featured.imgPost,'post') }}" alt="{{ featured.title }}" title="{{ featured.title }}">
                        <a href="{{ path('view_post', { slug: featured.slug}) }}">{{ featured.title }}</a>
                    </div>
                {% endfor %}#}
          </div>                 

    </section>
    <section class="container container-section mt-5">
        <div class="loading">
            <i class="fa fa-refresh fa-3x fa-spin"></i>
        </div>
        {% set i=0 %}
        {% for item in list %}

                {% if loop.index0%3==0 %}
                        {% set i=i+1 %}
                    {% if loop.index0>0 %}
                        </div>
                        </div>
                      {% endif %}
                    <div class="col-12 card-home {{ loop.index<=9 ? 'show-card':'hide-card' }}">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-4">

                            <!-- Post-->
                                <div class="post-module">
                                    <!-- Thumbnail-->
                                    <div class="thumbnail">
                                        <div class="date">
                                            <div class="day">{{ item.updateDate|date("d") }}</div>
                                            <div class="month">{{ item.updateDate|date("F")|slice(0,3) }}</div>
                                        </div>
                                        <img class="img-fluid" src="{{ asset(item.imgPost,'post') }}"/>
                                    </div>
                                    <!-- Post Content-->

                                    <div class="post-content">
                                        

                                        <div class="category">
                                            <a href="{{ path('category_post_list',{slug:item.category[0].name}) }}">{{ item.category[0].name|capitalize }}</a>
                                        </div>
                                        <div class="card__share">
                                            <div class="card__social">
                                                <a class="share-icon facebook" data-id={{item.id}} href="#"><span class="fa fa-facebook"></span></a>
                                                <a class="share-icon twitter" href="#"><span class="fa fa-twitter"></span></a>
                                                <a class="share-icon googleplus" href="#"><span class="fa fa-google-plus"></span></a>
                                            </div>

                                            <a id="share" class="share-toggle share-icon" href="#"></a>
                                        </div>
                                        <a href="{{ path('view_post', { slug: item.slug}) }}"><h2 class="sub_title">{{ item.title }}</h2></a>
                                        <p class="description">{{ item.shortContent|raw }}</p>
                                        <div class="post-meta">
                                            <div class="chip">
                                                <img src="{{ asset(item.person.picture,'profile') }}" alt="{{item.person.name}}" width="96" height="96">
                                                <a href="#">{{ item.person.name }}</a>
                                            </div>
                                            <span class="comments">
                                                <i class="fa fa-eye"></i>
                                                <a href="#"> {{ item.views }}</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                        </div>
                 {%  else %}
                     <div class="col-xs-12 col-sm-12 col-md-4">

                         <!-- Post-->
                         <div class="post-module">
                             <!-- Thumbnail-->
                             <div class="thumbnail">
                                 <div class="date">
                                     <div class="day">{{ item.updateDate|date("d") }}</div>
                                     <div class="month">{{ item.updateDate|date("F")|slice(0,3) }}</div>
                                 </div>
                                 <img class="img-fluid" src="{{ asset(item.imgPost,'post') }}"/>
                             </div>
                             <!-- Post Content-->

                             <div class="post-content">

                                 <div class="category"><a href="{{ path('category_post_list',{slug:item.category[0].name}) }}">{{ item.category[0].name|capitalize }}</a> </div>
                                 <div class="card__share">
                                     <div class="card__social">
                                         <a class="share-icon facebook" data-id={{item.id}} href="#"><span class="fa fa-facebook"></span></a>
                                         <a class="share-icon twitter" href="#"><span class="fa fa-twitter"></span></a>
                                         <a class="share-icon googleplus" href="#"><span class="fa fa-google-plus"></span></a>
                                     </div>

                                     <a id="share" class="share-toggle share-icon" href="#"></a>
                                 </div>
                                 {#<a href="{{ path('view_post', { slug: item.slug}) }}"><h1 class="title">{{ item.title }}</h1></a>#}
				 <a href="{{ path('view_post', { slug: item.slug}) }}"><h2 class="sub_title">{{ item.title }}</h2></a>
                                 {#<h2 class="sub_title">{{ item.title }}</h2>#}
                                 <p class="description">{{ item.shortContent|raw }}</p>
                                 <div class="post-meta">
                                     <div class="chip">
                                         <img src="{{ asset(item.person.picture,'profile') }}" alt="{{item.person.name}}" width="96" height="96">
                                         <a href="#">{{ item.person.name}}</a>
                                     </div>
                                     <span class="comments"><i class="fa fa-eye"></i> <a href="#"> {{ item.views }}</a></span></div>
                             </div>
                         </div>
                     </div>

                {%  endif %}

        {% endfor %}
        </div>
                    </div>

      {% if i>3%}
        {#<nav class="navbar">
            <ul class="pagination pagination-index">
                <li class="page-item disabled" id="first">
                    <span class="page-link"  tabindex="-1">&laquo;</span>
                </li>

                {% set value=1 %}
                {% for a in 1..i %}
                {% if loop.index0%3==0 %}
                    <li class="page-item {{ loop.first ? ' active' }}"><span class="page-link" >{{ value }}</span></li>
                    {% set value=value+1 %}
                {% endif %}
                {% endfor %}

                <li class="page-item" id="last">
                    <span class="page-link" >&raquo;</span>
                </li>
            </ul>
        </nav>#}

          <nav class="navbar paginate">
              <ul class="pagination pagination-index pg-psicologo">
                  <li class="page-item">
                      <button class="btn  change-paginate" id="first" type="text"><<</button>
                  </li>
                  <li class="page-item">
                      <button class="btn change-paginate" id="anterior" type="text"><</button>
                  </li>
                  <li class="page-item">
                      {% set value=1 %}
                      <select class="form-control" id="paginador">
                      </select>
                  </li>

                  <li class="page-item">
                      <button class="btn change-paginate" id="siguiente" type="text">></button>
                  </li>

                  <li class="page-item">
                      <button class="btn change-paginate" id="fin" type="text">>></button>
                  </li>
              </ul>
          </nav>

	{% endif%}

		<div class="modal fade show">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
			<h5 class="modal-title">Ciber Aviso para usuarios</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true"></span>
			</button>
		      </div>
		      <div class="modal-body">
			<p>Estoy desarrollando la web, poco a poco iré avanzando, pronto estaré de vuelta, mientras tanto puedes ponerte en contacto conmigo en <a href="mailto:soporte@cibermania.es">soporte@cibermania.es</a></p>
		      </div>
		      <div class="modal-footer">
			<button type="button" class="btn btn-success">Seguir buceando</button>
		      </div>
		    </div>
		  </div>
		</div>
    </section>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{{ asset('bundles/js/share.js') }}"></script>
{% endblock %}


